body {
    background: #000000;
    background: linear-gradient(90deg, black 0%, #171616 50%, #303030 100%);
    font-family: Arial;
    text-align: center;
}
:root {
    --purple: rgb(115, 59, 206);
    --secondary-color: rgb(223, 220, 220);
}
h1 {
    font-family: Montserrat;
    font-size: 55px;
    letter-spacing: 3px;
    text-shadow: 3px 3px 3px black;
}
h1, small{
    color: rgb(245, 244, 244);
}
small {
    display: inline-block;
    margin-bottom: 25px;
    padding: 4px;
    background-color: black;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight:550;
}
#poll-header {
    color: white;
    font-size: 45px;
    margin-top: -20px;
    margin-bottom: 25px;
}
.poll {
    margin: 30px auto;
    padding: 30px;
    border: 1px solid rgb(54, 54, 54);
    box-shadow: 3px 3px 6px rgb(0, 0, 0);
    width: 666px;
    min-height: 300px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}
.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.options button {
    transition: 0.15s;
    width: 150px;
    height: 100px;
    font-size: larger;  
    color: rgb(37, 37, 37);
    background-color: rgb(223, 220, 220);
    border: 2px solid rgb(133, 126, 126);
    border-radius: 15px;
}
.options button:hover {
    cursor: pointer;
    transform: translateY(-4px);
    border-color: var(--purple);
    /* transform: scale(0.95); */
}
.options button:focus {
    background-color: var(--purple);
    border-color: var(--purple);
    color: white;
    transform: scale(1.05);
}
*::selection {
    background-color: var(--purple);
}
.error {
    color: red;
    background-color: black;
    font-size: 30px;
}
#poll_id {
    position: absolute;
    right: 20px;    
    bottom: 10px;
    color: white;

}
#votes {
    color:white;
    font-size:larger;
}

form {
    display: flex;
    align-items: center;
    background-color: white;
    gap: 10px;
    margin: 20px auto;
    width: fit-content;
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;
}
input[type=button] {
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 8px;
    background-color: rgb(223, 220, 220);
    color: rgb(37, 37, 37);
    cursor: pointer;
}
#action_buttons {
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 0 auto;
    gap: 10%;
}
button {
    transition: 0.15s;
    padding: 10px;
    color: var(--purple);
    border: 1px solid var(--purple);
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
button:hover {
    background-color: var(--purple);
    color: white;
    transform: scale(1.075);
}
