body {
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(23, 22, 22, 1) 50%, rgba(48, 48, 48, 1) 100%, rgba(0, 0, 0, 1) 0%);
    font-family: Arial;
    text-align: center;
}
h1 {
    font-family: Montserrat;
    font-size: 55px;
    letter-spacing: 3px;
    text-shadow: 3px 3px 3px black;
}
h1, small{
    color: rgb(245, 244, 244);
}
small {
    padding: 4px;
    background-color: black;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight:550;
}
#poll-header {
    color: white;
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 25px;
}
.poll {
    margin: 30px auto;
    padding: 30px;
    border: 1px solid rgb(54, 54, 54);
    box-shadow: 3px 3px 6px rgb(0, 0, 0);
    width: 666px;
    min-height: 300px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}
.option {
    color: rgb(38, 97, 206);
}
.options {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.options button {
    transition: 0.15s;
    width: 150px;
    height: 100px;
    font-size: larger;  
    color: rgb(37, 37, 37);
    background-color: rgb(223, 220, 220);
    border: 2px solid rgb(133, 126, 126);
    border-radius: 15px;
}
.options button:hover {
    cursor: pointer;
    transform: translateY(-4px);
    border-color: rgb(115, 59, 206);
    /* transform: scale(0.95); */
}
.options button:focus {
    background-color: rgb(115, 59, 206);
    border-color: rgb(104, 47, 197);
    color: white;
    transform: scale(1.05);
}
*::selection{
    background-color: rgb(115, 59, 206);
}
.error {
    color: red;
    background-color: black;
    font-size: 30px;
}
#votes{
    color:white;
    font-size:larger;
}
form {
    background-color: white;
    margin: 0 auto;
    width: fit-content;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
}
input[type=button] {
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 8px;
    background-color: rgb(223, 220, 220);
    color: rgb(37, 37, 37);
    cursor: pointer;
}

